<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OP Feedback Form</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link href="{% static 'Feedback/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'Feedback/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-12 col-md-3">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Please provide your Feedback</h1>
                  </div>
                  <form  method="POST" class="user" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p style="color: red;">{{ field_error }}</p>
                    <p style="color: red;">{{ currentuser }}</p>
    
                    <strong>Self Or Family</strong>
                    <select id="id_sandf" name="sandf">
                       <option value="Self">Self</option>
                       <option value="Family">Family</option>
                       
                    </select>
                    <br>
                    <br>
                    <strong>select Department</strong>
                    <select id="id_department" name="department">
                       <option value="General">General</option>
                       <option value="Cardiology">Cardiology</option>
                       <option value="Orthology">Orthology</option>
                       <option value="Neurology">Neurology</option>
                       <option value="Opthomology">Opthomology</option>
    
                    </select>
                    <br><br>
                    <label><input type="radio" id="id_Rating" name="Rating"  value="excellent" onchange="displaynext(this.value)"/>Excellent</label>
                    <br>
                    <label><input type="radio" id="id_Rating" name="Rating" value="good" onchange="displaynext(this.value)" />Good</label>
                    <br>
                    <label><input type="radio" id="id_Rating" name="Rating" value="good" onchange="displaynext(this.value)" />Average</label>
                    <br>
                    <label><input type="radio" id="id_Rating" name="Rating" value="good" onchange="displaynext(this.value)" />Bad</label>
                    <br>
                    <label><input type="radio" id="id_Rating" name="Rating" value="good"onchange="displaynext(this.value)" />Worst</label>

                  <div id="goodsomething" style="display:none;">
                      &nbsp;&nbsp;&nbsp;&nbsp;Please Specify the area where you faced the issue
                      <br>
                  <!--admissiondiv starts-->
                      &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_AreaofIssue" name="AreaofIssue"  value="hygiene" onchange="displayAdmission(this.value)"/>Hygiene</label>
    
                      <div id="hygienediv" style="display: none;">
                     <br>     
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Hygiene" name="Hygiene"  value="Corridors are not being cleaned" />Corridors are not being cleaned
                     </label>
                     <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Hygiene" name="Hygiene"  value="Syringes are reused" />Syringes are reused</label>
                      
                     </div>
                    <hr style="width=3px;height=3px;"></hr>
    
                  <!--admissiondiv ends-->
    
                      <br>
                  <!--nursediv starts-->
                      &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_AreaofIssue" name="AreaofIssue"  value="doctor" onchange="displayNurse(this.value)"/>Doctor Behaviour
                      </label>
                    
    
                     <div id="doctordiv" style="display: none;">
                     <br>     
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_DoctorBehaviour" name="DoctorBehavior"  value="No proper Response / Attentiveness to your queries/questions"/>No proper Response / excessive mobile usage</label>
                     
                     <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_DoctorBehaviour" name="DoctorBehaviour"  value="Not available in time" />Not available in time</label> 
                    </div>
                     <hr style="width=3px;height=3px;"></hr>
                  <!--nursediv ends-->  
                      <br>
                  <!--doctordiv starts-->
                      &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox"  id="id_AreaofIssue" name="AreaofIssue"  value="waiting" onchange="displayDoctor(this.value)"/>WaitingTime
                      </label>
    
                      <div id="waitingdiv" style="display: none">
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_WaitingTime" name="WaitingTime"  value="Waiting for a doctor"/>Waiting for a doctor</label>
                     <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_WaitingTime" name="WaitingTime"  value="waiting at pharmacy"/>waiting at pharmacy</label>
                     <br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_WaitingTime" name="WaitingTime"  value="waiting at reception" />waiting at reception</label>
                     <br>
                   </div>
                    <hr style="width=3px;height=3px;"></hr>
    
                  <!--doctordiv ends-->
    
                      <br>
                      <!--allotdiv starts-->
                      &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox"  id="id_AreaofIssue" name="AreaofIssue"  value="pharmacy" onchange="displayAllot(this.value)"/>Pharmacy
                      </label><br>
                      <br>
                       <div id="pharmacydiv" style="display: none">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Pharmacy" name="Pharmacy"  value="Medicines are not available in pharmacy" />Medicines are not available</label>
                       <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Pharmacy" name="Pharmacy"  value="Medicines are expired" />Medicines are expired</label>
                       <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Pharmacy" name="Pharmacy"  value="Quality of Medicines" />Quality of Medicines</label>                    
                     <br>
                   </div>
                    <hr style="width=3px;height=3px;"></hr>
                      <!--allotdiv ends-->
    
                      <!--dischargediv starts-->
                      <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_AreaofIssue" name="AreaofIssue"  value="nurse" onchange="displayDischarge(this.value)"/>Nurse
                        </label>
                        <br><br>
                         <div id="nursediv" style="display: none">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Nurse" name="Nurse"  value="Not Providing Medication in time" />Not providing medication in time</label>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="id_Nurse" name="Nurse"  value="Harsh Behaviour towards Patient/ Patient's family" />Harsh behaviour towards patient </label>
                      <!--dischargediv ends-->
                    </div></div>
                     <hr style="width=3px;height=3px;"></hr>
                      <div id="Input" style="display:none;">
                      &nbsp;&nbsp;&nbsp;&nbsp;Please Explain your issue Briefly
                      <br>
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;<label><textarea rows=3 cols=35 id="id_explanation" name="explanation" placeholder="Enter Here" ></textarea></label>  
                    </div>
                    <div id="submit" style="display:none;">
                      <br><br>
                      <button type="submit" class="btn btn-primary btn-user btn-block">
                        Submit
                      </button>
                    </div>   
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  

  <script>

function displaynext(answer)
   {
    document.getElementById('goodsomething').style.display = "block";
    document.getElementById('Input').style.display = "block";
    document.getElementById('submit').style.display = "block";

     if (answer == "excellent")
     { 
      document.getElementById('submit').style.display = "block";
      document.getElementById('Input').style.display = "none";
      document.getElementById('goodsomething').style.display = "none";

     }
 
}
   
  function displayAdmission(answer) 
   {
 
     document.getElementById(answer+"div").style.display = "block";
 
   }
 function displayNurse(answer) 
   {
 
     document.getElementById(answer+"div").style.display = "block";
 
 }
 function displayDoctor(answer) 
   {
 
     document.getElementById(answer+"div").style.display = "block";
 
 }
 function displayAllot(answer) 
   {
 
     document.getElementById(answer+"div").style.display = "block";
 
 }
 function displayDischarge(answer) 
   {
 
     document.getElementById(answer+"div").style.display = "block";
 
 }
 </script>
 

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'Feedback/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Feedback/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'Feedback/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'Feedback/js/sb-admin-2.min.js' %}"></script>

</body>

</html>
