<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
    <title>
    ESIC - HOME</title>

    <style>
      img {
        width:100%;
        height: 500px;
          }
      </style>
{% load static %}
  <!-- Custom fonts for this template-->
  <link href="{% static 'Feedback/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'Feedback/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top" background="">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="nav-item dropdown no-arrow">
              <br>
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="img-profile rounded-circle" src="{% static 'Feedback/img/eisc1.png' %}">
                  &nbsp;&nbsp;&nbsp;<h1 class="h3 mb-0 text-gray-800">Santusht IP</h1>
                </a>    
                <br>        
            </div> 
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <br>
            <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
                
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Login</a>
            </div> -->
            <a href="{% url 'login' %}" class="btn btn-primary btn-icon-split btn-sm">
              <span class="icon text-white-50">
                <i class="fas fa-user"></i>
              </span>
              <span class="text">Login</span>
            </a>
            <br>   
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
         <!-- Feedback button-->
         <div align="center">
          <a href="{% url 'askingpage' %}" class="btn btn-primary btn-icon-split btn-lg">
            
            <span class="text">Give Feedback/Complaint </span>
          </a>
        </div>
        <br>
         <div align="center">
         <img src="{% static 'Feedback/img/index.jpeg' %}" alt="Cinque Terre" width="1000" height="300">
        </div>
        <br>
         
          
          <!-- Content Row -->
       <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Feedbacks</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalfeedbacks }}</div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Solved</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ solvedissues }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Unsolved</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ unsolvedissues }}</div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pendingissues }}</div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->
         
     



          <div class="row">
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">             
            <div class="col-lg-12 mb-4">

              <!-- Illustrations -->
              <br>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">About ESIC</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">



                  </div>
                  <p>Employees’ state Insurance Corporation of India, 
                      is a multidimensional social system tailored to provide
                       socio-economic protection to worker population and immediate
                        dependent or family covered under the scheme. Besides full 
                        medical care for self and dependents, that is admissible from day 
                        one of insurable employment, the insured persons are also entitled to a variety 
                        of case benefits in times of physical distress due to sickness, temporary or permanent 
                        disablement etc. resulting in loss of earning capacity, 
                        the confinement in respect of insured women, dependents of insured persons 
                        who die in industrial accidents or because of employment injury or occupational 
                        hazard are entitled to a monthly pension called the dependents benefit. </p>
                    <p>At an average the ESI Corporation makes 40 lac individual payments each year amounting to about Rs.300 crores through its wide spread network of branch Offices in the implemented areas. For availing cash benefit in different contingencies insured persons or their dependants have to complete some minimal formalities and follow certain set procedures. Therefore, to ensure smooth and straight flow of benefits, an attempt has been made in the following paragraphs about the procedure to be followed by the ESI beneficiaries for claiming the benefits as and when the need arises.</p>
                </div>
              </div>

              
              

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
       
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Developed by HITAMITES</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'Feedback/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Feedback/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'Feedback/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'Feedback/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'Feedback/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'Feedback/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'Feedback/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
