{% extends 'Feedback/base2.html' %}
{% block title %}
Inpatient Issues
{% endblock %}

{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Unsolved IN Patient Issues</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Search for Area of Issue ,Patient ID etc.,</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>IP Number</th>
                <th>Rating</th>
                <th>Self/Family</th>
                <th>Department</th>
                <th>Issue In</th>
                <th>View</th>
                <th>Click If Solved</th>
                <th>Click to forward</th>                  
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>IP Number</th>
                <th>Rating</th>
                <th>Self/Family</th>
                <th>Department</th>
                <th>Issue In</th>
                <th>View</th>
                <th>Click If Solved</th>
                <th>Click to forward</th>                  

              </tr>
            </tfoot>
            <tbody>
            
             {% for patient in patientlist %}
              <tr>
                <td>{{ patient.ip_number }}</td>
                <td>{{ patient.Rating }}</td>
                <td>{{ patient.sandf }}</td>
                <td>{{ patient.department }}</td>
                <td>{{ patient.AreaofIssue }}</td>
                <td>
                  <a href="{% url 'detailsIN' patient.id %}" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">View</span>
                  </a>
                </td>
                <td>
                <a href="{% url 'change2' patient.id %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Click</span>
                </a>
                </td>
                <td>
                  <a href="{% url 'forward2' patient.id %}" class="btn btn-danger btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Forward</span>
                  </a>
                </td>
              </tr>
             {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
{% endblock %}